/* Resset Básico */

body {
    background-color: lavender;
    padding: 3rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    /* background-color: lavenderblush; */
    width: 31.25rem;
    height: 31.25rem;
    margin: 0 auto; /* Esto centra el elemento cunado tiene el ancho definido */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 24px; /* Define el espacio entre filas y columnas */

    grid-auto-flow: row; /* Es el valor por default */
    /* grid-auto-flow: column; /* Este valor cambia el flujo a columnas */ 

    /* Esto no es de grid */
    direction: rtl; /* Rigth To Left */
}

.item1 {
    background-color: blueviolet;
}

.item2{
    background-color: violet;
}

.item3{
    background-color: purple;
}

.item4{
    background-color: plum;
}

.item5{
    background-color: pink;
}

.container div{
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}