/* Resset Básico */

body {
    background-color: lavender;
    padding: 48px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: lavenderblush;
    width: 500px;
    height: 500px;
    margin: 0 auto; /* Esto centra el elemento cunado tiene el ancho definido */

    display: grid;/* Esto habilita el comportamineto de gris en el contenedor */
    grid-template-columns: 100px 200px 150px;/* Esto define el ancho de las dos columnas */
    grid-template-rows: 100px 200px 50px;/* Esto define el alto de cada fila */

}

.item {
    background-color: lightcyan;
}