/* Resset Básico */

body {
    background-color: lavender;
    padding: 3rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: lavenderblush;
    width: 31.25rem;
    height: 31.25rem;
    margin: 0 auto; /* Esto centra el elemento cunado tiene el ancho definido */

    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: 
        "header header header"
        "main   main   sidebar"
        "footer footer footer";

}

.header {
    background-color: lightblue;
    grid-area: header;
}

.main {
    background-color: lightcyan;
    grid-area: main;
}

.sidebar {
    background-color: lightskyblue;
    grid-area: sidebar;
}

.footer {
    background-color: lightslategray;
    grid-area: footer;
}
